body{
    background-color: rgb(2, 63, 2);
    justify-content: center;
    text-align: center;
}

span{
    font-size: x-large;
    color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button{
    background-color: rgb(81, 1, 1);
    color: aliceblue;
    width:10%;
    height: 5%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: x-large;
}
img{
    width:40%;
    height:20%;
}

h1{
    color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: xxx-large;
}

#betIn{
    background-color: rgb(81, 1, 1);
    color: aliceblue;
    font-size: x-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}